*.txt       	text=auto eol=native whitespace
*.sh        	text=auto eol=lf
*.py        	text=auto eol=native
README.md   	text=auto eol=native
*.tff       	-text
*.yml       	text=auto eol=native
*.bat       	text=auto eol=crlf
*.ps1       	text=auto eol=native
