# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ====== #
# Python #
# ====== #
__pycache__
*.pyc

# ============ #
# ESBreakerCLI #
# ============ #
/Assembly-CSharp-firstpass.dll
/CommandLine.dll
/ContentsSerializer.dll
/Databases
/ESBreakerCLI.exe
/Newtonsoft.Json.dll
/ProtoBuffSerializer.dll
/UnityEngine.dll
/protobuf-net.dll
/output

# ===== #
# Other #
# ===== #
*.csv
*.json
json/Items_Leftovers.txt
